# Immutability

In [1]:
Name = "Sam"

In [2]:
last_letters = Name[1:]

In [3]:
last_letters

'am'

In [4]:
'P'+ last_letters

'Pam'

In [5]:
x = 'Hello World'

In [6]:
x

'Hello World'

In [7]:
x = x + " it is a beautiful outside!"

In [8]:
x

'Hello World it is a beautiful outside!'

In [9]:
letter = 'x'

In [10]:
letter * 10

'xxxxxxxxxx'

In [11]:
x = "Hello World"

In [12]:
x.upper

In [13]:
x.upper()

'HELLO WORLD'

In [14]:
x.split()

['Hello', 'World']

In [15]:
x = "Hello I am here"

In [16]:
x.split()

['Hello', 'I', 'am', 'here']

In [17]:
x.split('l')

['He', '', 'o I am here']

In [18]:
x = "52B Executive Report (Fin) - YTD Corporate Target"

In [19]:
x.split()

['52B', 'Executive', 'Report', '(Fin)', '-', 'YTD', 'Corporate', 'Target']

In [21]:
print("hello " + x)

hello 52B Executive Report (Fin) - YTD Corporate Target